* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-image: url('background2.jpg');
    background-size: cover; /* Розтягує на весь екран */
    background-position: center; /* Вирівнює по центру */
    background-repeat: no-repeat; /* Зображення не повторюється */
    height: 100vh; /* Встановлює висоту на 100% від висоти вікна перегляду */
    margin: 0; /* Скидає відступи */
 
}

header {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFAF5;
    padding: 25px 20px;
    border: 1px solid black;
}

.logo img {
    width: 75px; /* Ширина зображення */
    height: auto; /* Автоматичне підлаштування висоти відповідно до ширини */
    margin-left: 35px; 
    margin-top: 5px;

}

nav a {
    margin: 0 67px;
    text-decoration: none;
    color: black;
    font-size: 25px; 
}

nav .active {
    background-color: #E18B9C; /* Колір фону */
    color: #000000; /* Чорний колір тексту */
    border: 2px solid #D71111; /* Колір та товщина контуру */
    border-radius: 17px; /* Закруглені кути */
    padding: 4px 25px; /* Внутрішні відступи для створення простору навколо тексту */
    text-decoration: none; /* Видалення підкреслення для посилання */
}

.search input {
    font-size: 15px;
    width: 200px; /* Ширина */
    height: 15px; /* Висота */
    padding: 19px; /* Відступи всередині поля */
    border-radius: 15px; /* Округлення кутів */
    border: 1px solid black; /* Рамка навколо поля */
    background-color: #FDFAF5;
    margin-right: 30px; 
}

.custom-rectangle {
    width: 1776px; /* Ширина прямокутника */
    height: 362px; /* Висота прямокутника */
    background-color:#FDFAF5; /* Колір фону */
    border-radius: 0 0 54px 54px; /* Закруглені нижні кути (ліві і праві) */
    border: 0.5px solid black; /* Рамка навколо поля */
    margin: 0 auto; /* Автоматичні відступи по горизонталі для центрування */
}
.container {
    position: relative; /* Для позиціювання дочірніх елементів */
    text-align: center; /* Центрування тексту */
}
.name {
    position: absolute; /* Абсолютне позиціювання */
    top: 15px; /* Відстань від верхньої частини контейнера */
    left: 130px; /* Центрування по горизонталі */
    font-family: 'Instrument Serif', sans-serif;
    color:#D71111; /* Колір тексту */
    font-size: 96px; /* Розмір шрифту */
    
}
.inform {
    position: absolute; /* Абсолютне позиціювання */
    top: 140px; /* Відстань від верхньої частини контейнера */
    left: 150px; /* Центрування по горизонталі */
    color: #000000; /* Колір тексту */
    font-size: 23px; /* Розмір шрифту */
    max-width: 50%; /* Максимальна ширина для абзацу */
}
.info {
    position: absolute; /* Абсолютне позиціювання */
    top: 170px; /* Відстань від верхньої частини контейнера */
    left: 150px; /* Центрування по горизонталі, можна видалити, якщо хочете ліве вирівнювання */
    color: #000000; /* Колір тексту */
    font-size: 23px; /* Розмір шрифту */
    max-width: 18%; /* Максимальна ширина для абзацу */
    text-align: left; /* Вирівнювання тексту по лівій стороні */
    line-height: 1.5; /* Збільшення міжрядкового інтервалу (можна змінити значення) */
}

.cooperation{
    position: absolute; /* Абсолютне позиціювання */
    top: 30px; /* Відстань від верхньої частини контейнера */
    left: 80%; /* Центрування по горизонталі */
    font-family: 'Inria Serif', sans-serif;
    color: #7b7777; /* Колір тексту */
    font-size: 24px; /* Розмір шрифту */
}
.emily-photo{

}
