* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-image: url('background2.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0; 
    cursor: url('cursor2.png'), auto;

}

header {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFAF5;
    padding: 25px 20px;
    border: 1px solid black;
}

.logo img {
    width: 75px; 
    height: auto;
    margin-left: 35px; 
    margin-top: 5px;

}

nav a {
    margin: 0 67px;
    text-decoration: none;
    color: black;
    font-size: 20px; 
}

nav .active {
    background-color: #E18B9C;
    color: #000000;
    border: 2px solid #D71111;
    border-radius: 14px; 
    padding: 4px 25px;
    text-decoration: none; 
}

.search input {
    font-size: 15px;
    width: 200px;
    height: 15px;
    padding: 19px; 
    border-radius: 15px; 
    border: 1px solid black; 
    background-color: #FDFAF5;
    margin-right: 30px; 
}

.custom-rectangle {
    width: 1376px; 
    height: 290px; 
    background-color:#FDFAF5; 
    border-radius: 0 0 54px 54px; 
    border: 0.5px solid black; 
    margin: 0 auto; 
    padding-top: 0%;
    
}
.container {
    position: relative; 
    text-align: center;
}
.name {
    position: absolute;
    top: 7px; 
    left: 110px; 
    font-family: 'Instrument Serif', sans-serif;
    color:#D71111; 
    font-size: 96px;
    
}
.inform {
    position: absolute;
    top: 110px; 
    left: 130px;
    color: #000000; 
    font-size: 21px; 
    max-width: 50%;
}
.info {
    position: absolute;
    top: 140px; 
    left: 130px;
    color: #000000; 
    font-size: 21px; 
    max-width: 23%; 
    text-align: left; 
    line-height: 1.5;
}

.cooperation{
    position: absolute;
    top: 20px;
    left: 75%;
    font-family: 'Inria Serif', sans-serif;
    color: #7b7777; 
    font-size: 24px;
}
.emily-photo {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -30%);
    width: 492px;
    height: 587px;
    border-radius: 43px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
.rectangle2 {
    position: absolute;
    bottom: 140px; 
    left: 80px;  
    width: 272px;
    height: 314px;
    background-color: #FDFAF5;
    border: 1px solid #000;
    border-radius: 39px; 
    padding: 27px;
}


.preferences_title {
    font-family: 'Inria Serif', sans-serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #000000;
}


.text1 {
    font-family: 'Inria Serif', sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.5; 
    margin: 0;
}

.rectangle3 {
    position: absolute;
    bottom: 180px; 
    right: 80px;   
    width: 263px; 
    height: 225px;
    background-color: #FDFAF5;
    border: 1px solid #000; 
    border-radius: 32px;
    padding: 20px; 
}


.work_title {
    font-family: 'Inria Serif', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
    color: #000000;
}


.text2 {
    font-family: 'Inria Serif', sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 1.3; 
    margin: 0;
}

.rectangle4 {
    position: absolute;
    bottom: 345px;
    right: 360px;  
    width: 223px;
    height: 113px;
    background-color: #FDFAF5; 
    border: 1px solid #000; 
    border-radius: 19px;
    padding: 10px;
}
.partners_title {
    font-family: 'Inria Serif', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    text-align: center; 

}
.champagne {
    position: absolute; 
    top: -25px;
    left: 20px;  
    width: auto;
    height: 165px;
}
.rectangle4::before {
    content: "<-";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
}

.rectangle4::after {
    content: "->";
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
}


.text4 {
    font-family: 'Inria Serif', sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 56px;
}
.contact{
    font-family: 'Bayon', sans-serif;
    font-size: 40px;
    position: absolute;
    bottom: 51px; 
    left: 100px;  
    background-color: #E18B9C;
    color: #ffffff;
    border: 2px solid #D71111; 
    border-radius: 19px;
   
    width: 305px;
    height: 63px;
    text-align: center; 
    line-height: 63px;
}
.happy{
    font-family: 'Dancing Script', sans-serif;
    position: absolute;
    bottom: 120px; 
    right: 100px;
    color:#f64646;
    font-size: 32px; 
}
.marketer{
    font-family: 'Instrument Serif', sans-serif;
    position: absolute; 
    bottom: 7px;
    right: 65px;
    color:#D71111; 
    font-size: 96px; 
}
.frame1 {
    position: absolute;
    top: 170px;
    right: 350px;  
    width: 136px;
    height: 201px;
    background-color: #FDFAF5; 
    border: 1px solid #000; 
    border-radius: 25px;
    padding: 10px;
}
.frame2 {
    position: absolute;
    top: 170px;
    right: 145px;  
    width: 136px;
    height: 201px;
    background-color: #FDFAF5; 
    border: 1px solid #000; 
    border-radius: 25px;
    padding: 10px;
} 
.frame1_title, .frame2_title {
    writing-mode: vertical-rl; 
    text-align: center; 
    font-size: 16px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    transform: rotate(180deg);
    height: 100%; 
}
.photo1{
    position: absolute;
    width: 150px;
    height: 201px;
    border-radius: 25px;
    top: -1px;
    left: 30px;
    border: 0.2px solid #000; 
}
.photo2{
    position: absolute;
    width: auto;
    height: 202px;
    border-radius: 25px;
    top: -1px;
    left: 30px;
    border: 0.2px solid #000; 
    
}
.frame3 {
    position: absolute;
    top: 370px;
    left: 445px;  
    width: 140px;
    height: 140px;
    background-color: #FDFAF5; 
    border: 1px solid #000; 
    border-radius: 100px;
} 
.croissant{
    position: absolute;
    top: 5px;
    left: 10px;  
    width: 132px;
    height: auto;
}
.animated{
    position: absolute;
    border-radius: 25px;
    border: 1px solid #000; 
    width: auto;
    height: 218px;
    bottom: 70px;
    left: 445px;  
}